.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px 50px;
  gap: 20px
}

.form form {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 36px 64px;
  flex: 1;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.05);
}

.form form h1 {
  border-left: 4px solid #6278f7;
  font-size: 30px;
  padding: 15px;
}