.collaborator {
  width: 280px;
  position: relative;
  margin-bottom: 10px;
}

.collaborator .header {
  background-color: #f0f0f0;
  border-radius: 10px 10px 0 0;
}

.collaborator img {
  width: 50%;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
}

.collaborator .footer {
  background-color: #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0 0 10px 10px;
  padding-top: 90px;
  padding-bottom: 40px;
  display: block;
}

.collaborator .footer h4 {
  color: #6278f7;
  font-size: 25px;
  line-height: 22px;
}

.collaborator .footer h5 {
  color: #000;
  font-size: 18px;
  line-height: 22px;
  padding: 0 16px;
}

.delete {
  position: absolute;
  right: -10px;
  top: -10px;
}

.favorite {
  margin-top: 20px;
  
}