.team {
  text-align: center;
  padding: 32px;
  background-color: #b6e9d0;
  border-radius: 10px;
  margin: 20px;
  position: relative;
}

.team h3 {
  font-size: 32px;
  border-bottom: 4px solid #57c278;
  display: inline-block;
  padding-bottom: 8px;
}

.team .collaborators {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  flex-wrap: wrap;
}

.input-color {
  position: absolute;
  top: 20px;
  right: 50px;
}